{% extends 'base.html.twig' %}

{% block body %}
    <h1>Story list</h1>


        {% for story in stories %}
            
            <div class="row">
                {#
                <img src="..." alt="..." class="img-rounded">
                #}
                <h4>{{ story.title }}</h4>
                <p style="color: grey; font-size: small;"><em>by:</em> {{ story.name }} on {{ story.created|date('Y-m-d H:i:s') }}</p>
                <p>{{ story.description }}</p>
                <p><b>Latitude:</b> {% if story.latitude %}{{ story.latitude }}{% endif %} <b>Longtitude:</b> {% if story.longitude %}{{ story.longitude }}{% endif %}</p>
                
                {% if story.media | length %}
                
                        <p>Media</p>
                    {% for media in story.media %}
                        <p><a href="{{ path('story_media_download', { 'id': media.id } ) }}">Download {{ media.name }}</a></p>
                    {% endfor %}
                    
                {% endif %}
                <p>
                    <a class="btn btn-default" href="{{ path('story_edit', { 'id': story.id }) }}">Edit</a>
                    <a class="btn btn-warning" href="{{ path('story_delete', { 'id': story.id }) }}">Delete</a>
                </p>
                
            </div>

        {% endfor %}
    <ul>
        <li>
            <a href="{{ path('story_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
