{% extends 'base.html.twig' %}

{% block body %}
    <h1>Story list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for story in stories %}
            <tr>
                <td><a href="{{ path('story_show', { 'id': story.id }) }}">{{ story.id }}</a></td>
                <td>{{ story.name }}</td>
                <td>{{ story.description }}</td>
                <td>{% if story.created %}{{ story.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if story.updated %}{{ story.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('story_show', { 'id': story.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('story_edit', { 'id': story.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('story_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
